@media screen and (min-width: 375px) {
    .omelette {
        width: 375px;
        height: 150px;
        margin: 0px;
        background-size: cover;
    }
.nutrition {
    display: flex;
}
    
}


@media screen and (min-width: 1440px) {

}




.preparation {
     background-color: #FFB6C1;
     border-radius: 10px;
     line-height: 150%; 
}

.ingredients {
    line-height: 150%;
}

.instruction {
    line-height: 150%;
}

.nutrition {
 display: flex;
 flex-direction: column;
 line-height: 150%;
 
}

.kcal {
    
}

.second-headline {
    color: hsl(332, 51%, 32%);
    margin-left: 20px;
    
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    color: hsl(14, 45%, 36%);
}

.kcal {
    color: hsl(14, 45%, 36%);
}

.markers-instruction::marker {
    color: hsl(14, 45%, 36%);
}

.markers-ingredients::marker {
    color: hsl(14, 45%, 36%);
}